@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --color-primary: #2E245E;
  --color-secondary: #37268C;

  --grey-100: #333333;
  --grey-50: #828282;
  --grey-0: #F5F5F5;

  --font-primary: 'Inter', sans-serif;

  --font-small-detail: 10px;
  --font-body: 14px;
  --font-headline-title-4: 16px;
  --font-title-3: 20px;
  --font-title-2: 24px;
  --font-title-1: 26px;
}

body {
  background: #fff;
  font-family: var(--font-primary);
}

.main {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
}

.hidden {
  visibility: hidden;
}